@page "/viewmail"
@using GmailCleaner.Data.Gmail
@using GmailCleaner.Data.Gmail.Models

<h3>Get Mail</h3>

<BSContainer>
    @if (_messages.Any())
    {
        <BSTable>
            <BSTHead>
                <BSTR>
                    <BSTD>Id</BSTD>
                    <BSTD>Sender</BSTD>
                    <BSTD>Subject</BSTD>
                    <BSTD>Body</BSTD>
                </BSTR>
            </BSTHead>
            <BSTBody>
                @foreach (var message in _messages)
                {
                    <BSTR>
                        <BSTD>@message.MessageId</BSTD>
                        <BSTD>@message.Sender</BSTD>
                        <BSTD>@message.Subject</BSTD>
                        <BSTD>@message.Body</BSTD>
                    </BSTR>
                }
            </BSTBody>
        </BSTable>
    }
    else
    {
        <BSButton onclick="@AddMessagesAsync()">Add Messages</BSButton>
    }
</BSContainer>

@code {
    private List<Message> _messages = new();

    protected override async Task OnInitializedAsync()
    {
        using (var context = new GmailDbContext())
        {
            _messages = context.Messages.ToList();
        }

        await base.OnInitializedAsync();
    }

    private async Task AddMessagesAsync()
    {
        var messages = new List<Message>
        {
            new Message
            {
                MessageId = 1,
                Sender = "Sender1",
                Subject = "Subject1",
                Body = "Body1"
            },
            new Message
            {
                MessageId = 2,
                Sender = "Sender2",
                Subject = "Subject2",
                Body = "Body2"
            }
        };

        using (var context = new GmailDbContext())
        {
            await context.Messages.AddRangeAsync(messages);
            await context.SaveChangesAsync();
        }
    }
}
